#btn {
  position: absolute;
  bottom: 3%;
  color: #fff;
  background-color: #4d90fe;
  padding: 11px;

  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  alignment-baseline: central;
  width: 20%;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  text-decoration: none;
}

#search-bar {
  width: 200px;
  margin-left: -100px;
  padding-left: 50%;
}

#my_button:hover{
  background-color:#3B6EC2
}

#myInput {
  background-image: url('/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}